In [1]:
import gmaps
import gmaps.datasets

In [2]:
gkey = "AIzaSyCFBAlFVCvAH22IG2FQesjEOmEwAfz3EpE"
gmaps.configure(api_key=gkey)

In [3]:
earthquake_df = gmaps.datasets.load_dataset_as_df('earthquakes')
earthquake_df.head()

    latitude   longitude  magnitude
0  65.193300 -149.072500       1.70
1  38.791832 -122.780830       2.10
2  38.818001 -122.792168       0.48
3  33.601667 -116.727667       0.78
4  37.378334 -118.520836       3.64

In [4]:
locations = earthquake_df[['latitude', 'longitude']]
weights = earthquake_df['magnitude']
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Plot Data
map = px.scatter_mapbox(
    data_to_plot,
    lat="Latitude",
    lon="Longitude",
    color="Total_Cases",
    color_continuous_scale=px.colors.sequential.Inferno,
    height=500,
    size_max=20,
    zoom=2.9

          
)

# Display the map
map.show()

NameError: name 'px' is not defined

In [1]:

import pandas as pd
import plotly.express as px  # (version 4.7.0)
import plotly.graph_objects as go

import dash  # (version 1.12.0) pip install dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output

In [2]:
app = dash.Dash(__name__)

In [3]:
#Import the CSV to read and preview what the data comes up with....data from CDC website
from pathlib import Path
us_path = Path("state_totals.csv")
us_total = pd.read_csv(us_path)
df = us_total
df.head()

        State   Latitude   Longitude  Total_Cases  Total_Deaths
0     Alabama  32.318230  -86.902298       194892          2973
1      Alaska  66.160507 -153.369141        17057            84
2     Arizona  34.048927 -111.093735       250633          6059
3    Arkansas  34.799999  -92.199997       113641          1985
4  California  36.778259 -119.417931       930628         17672

In [4]:
df = df.groupby(['State', 'Latitude', 'Longitude', 'Total_Deaths'])[['Total_Cases']].mean()
df.reset_index(inplace=True)
print(df[:5])

        State   Latitude   Longitude  Total_Deaths  Total_Cases
0     Alabama  32.318230  -86.902298          2973       194892
1      Alaska  66.160507 -153.369141            84        17057
2     Arizona  34.048927 -111.093735          6059       250633
3    Arkansas  34.799999  -92.199997          1985       113641
4  California  36.778259 -119.417931         17672       930628

In [5]:
# App layout
app.layout = html.Div([

    html.H1("Web Application Dashboards with Dash", style={'text-align': 'center'}),

    dcc.Dropdown(id="slct_state",
                 options=[
                     {"label": "Alabama", "value": ["Alabama"]},
                     {"label": "Alaska", "value": ["Alaska"]},
                     {"label": "Arizona", "value": ["Arizona"]},
                     {"label": "Arkansas", "value": ["Arkansas"]}],
                 multi=False,
                 value=2020,
                 style={'width': "40%"}
                 ),

    html.Div(id='output_container', children=[]),
    html.Br(),

    dcc.Graph(id='covid_case_map', figure={})

])

In [7]:
# Connect the Plotly graphs with Dash Components
@app.callback(
    [Output(component_id='output_container', component_property='children'),
     Output(component_id='covid_case_map', component_property='figure')],
    [Input(component_id='slct_state', component_property='value')]
)
def update_graph(option_slctd):
    print(option_slctd)
    print(type(option_slctd))

    container = "The state chosen by user was: {}".format(option_slctd)

    dff = df.copy()
    dff = dff[dff["State"] == option_slctd]
    dff = dff[dff["Total_Deaths"] == "2973"]

In [8]:
 # Plotly Express
fig = px.choropleth(
    data_frame=df.copy(),
    locationmode='USA-states',
    locations='State',
    scope="usa",
    color='Total_Cases',
    hover_data=['State', 'Total_Cases', 'Total_Deaths'],
    color_continuous_scale=px.colors.sequential.YlOrRd,
    labels={'Number of Cases per State'},
    template='plotly_dark'
    )

In [52]:
 # Plotly Graph Objects (GO)
fig = go.Figure(
         data=[go.Choropleth(
             locationmode='USA-states',
             locations='State',
             z=df.copy(['Total_Cases']).astype(float),
             colorscale='Reds',
         )]
     )

ValueError: could not convert string to float: 'Alabama'

In [9]:
# fig.update_layout(
    #     title_text="Number of Cases per State",
    #     title_xanchor="center",
    #     title_font=dict(size=24),
    #     title_x=0.5,
    #     geo=dict(scope='usa'),
    # )

return container, fig

if __name__ == '__main__':
    app.run_server(debug=True)

SyntaxError: 'return' outside function (<ipython-input-9-f49cff9ebf22>, line 9)

In [ ]:
# Sort data by `Total Cases` in descending order
filtered_df = us_case.sort_values("Total Cases", ascending=False)
filtered_df = us_case.iloc[:, [0, 1, 6,]]
filtered_df.head()

In [ ]:
import dask.dataframe as dd, geoviews as gv, cartopy.crs as crs
from colorcet import fire
from holoviews.operation.datashader import datashade
from geoviews.tile_sources import EsriImagery